@{
    ViewBag.Title = "Контакты";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Телефоны</h3>
    </header>
    <p>
        <span class="label">Мобильный:</span>
        <span>+375-29-123-72-57</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Основной:</span>
        <span><a href="mailto:dimakus89@mail.ru">dimakus89@mail.ru</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Адрес</h3>
    </header>
    <p>
        г. Минск<br />
        ул. Гинтовта 36, кв. 5
    </p>
</section>