@{
    ViewBag.Title = "Контакты";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<hr/>

<section class="contact">
    <header>
        <h3>Телефоны</h3>
    </header>
    <p>
        <span class="label">Мобильный:</span>
        <span>+375-29-123-45-56</span>
    </p>
    <p>
        <span class="label">Стационарный:</span>
        <span>8017-293-43-54</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span><a href="mailto:ksenialyanova@mail.ru">ksenialyanova@mail.ru</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Юридический адрес</h3>
    </header>
    <p>
        г. Минск, ул. Независимости 36, кв. 1
    </p>
</section>